h1
{
    color: red;
    font-size: 50px;
}
*
{
    margin: 10px;
}
body{
    background-color: cyan;
}
img{
    width: 400px;
    height: 300px;
}
p{
    background-color: palegreen;
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}